
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 60px;">
        <div class="container">
            <h1 class="display-3" id="texto-titulo-recomendaciones">Manten tu distancia</h1>
            <p  id="texto-content-recomendaciones">En esta seccion podrás observar variedad de recomendaciones para prevenir el COVID-19</p>
            <p  id="texto-content-recomendaciones">"No te rindas, por favor no cedas, aunque el frío queme, aunque el miedo muerda, aunque el sol se esconda, y se calle el viento, aún hay fuego en tu alma, aún hay vida en tus sueños. Porque la vida es tuya y tuyo también el deseo, porque cada día es un comienzo nuevo, porque esta es la hora y el mejor momento". <strong>Mario Benedetti</strong> </p>
            
        </div>
    </div>

    <div class="container ">
        
        <div class="row">
            {{#each recomendaciones}}
            <!--<div class="col-md-4 card mb-4 box-shadow">
                <h4>{{this.name}}</h4>
                <p >{{this.description}}</p>
                <p><a class="btn btn-secondary d-flex align-items-center" href="{{this.url}}" role="button" target="_blank">Seguir leyendo »</a></p>
                <br>
            </div>--> 
            <div class="col-md-4" style="margin-top:15px;">
              <div class="card mb-3 box-shadow" style="height:100%;border:solid 2px rgb(211, 211, 211);">             
                <div class="card-body  m-2" style=" ">
                  <p class="texto-titulo-recomendaciones">{{this.name}}</p>
                   <p class="texto-recomendaciones">{{this.description}}</p>
                  <div class="boton-seguir-leyendo">
                    <a href="{{this.url}}" class="btn btn-dark" target="_blank">Seguir leyendo »</a>
                  </div>
                </div>
              </div>
            </div>           
            {{/each}}
            
        </div><hr>
        
    </div> <!-- /container -->
</main>





