<main class="main-profile">
    <div class="img-header">
    </div>
    <div class="contenedor-profile">
        <div class="texto-profile">
            <p class="saludo">Hola {{user.nombre}} {{user.apellido}}!</p>
            <div class="datos">
                <div class="datos-izq">
                    <p><i class="fas fa-users"></i> Sexo</p>
                    <p class="rpta">{{user.sexo}}</p>
                    <p><i class="fas fa-clock"></i> Edad</p>
                    <p class="rpta">{{user.edad}}</p>
                    <p><i class="fas fa-phone-square-alt"></i>Telefono</p>
                    <p class="rpta">{{user.telefono}}</p>
                    <p><i class="fas fa-id-card"></i> DNI</p>
                    <p class="rpta">{{user.dni}}</p>
                    <p><i class="fas fa-envelope"></i> Correo electronico</p>
                    <p class="rpta">{{user.email}}</p>
                </div>
                <div class="datos-dere">
                    <p><i class="fas fa-map-marker-alt"></i> Departamento</p>
                    <p class="rpta">{{user.departamento}}</p>
                    <p><i class="fas fa-map-marker-alt"></i> Provincia</p>
                    <p class="rpta">{{user.provincia}}</p>
                    <p><i class="fas fa-map-marker-alt"></i> Distrito</p>
                    <p class="rpta">{{user.distrito}}</p>
                    <p><i class="fas fa-heartbeat"></i> Estado de salud</p>
                    <p class="rpta">{{user.estado}}</p>
                    <p><i class="fas fa-home"></i> Domicilio</p>
                    <p class="rpta">{{user.domicilio}}</p>
                </div>
            </div>
        </div>
        <img src="img/libro.jpg" alt="Usuario" class="imgUsuario">
    </div>
    
    <div class="contenedor-contenido">
        <div class="btn-test">
            <a href="/form">Realizar Test</a>
        </div>
        <p class="slogan">Aqui podra visualizar los resutlados del test...  </p>
        <div class="contenedor-tabla">
            
            <table>
                <table>
                    <thead style= "font-size: 14px;"> 
                <th>Tiempo</th>
                <th>Pregunta 1</th>
                <th>Pregunta 2</th>
                <th>Pregunta 3</th>
                <th>Pregunta 4</th>
                <th>Pregunta 5</th>
                <th>Pregunta 6</th>
                <th>Pregunta 7</th>
                <th>Pregunta 8</th>
                <th>Pregunta 9</th>
                <th>Pregunta 10</th>
                <th>Pregunta 11</th>
                <th>Pregunta 12</th>
                <th>Pregunta 13</th>
                <th>Pregunta 14</th>
                <th>Resultado</th>
              </thead>
              <tbody id="countries" style="font-size: 13px;">
              {{#each objeto}}
                  <tr>
                    <td>{{timeago this.fecha}}</td>
                    {{#if this.preg1}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg2}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg3}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg4}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg5}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg6}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg7}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg8}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg9}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg10}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg11}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg12}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg13}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    {{#if this.preg14}}
                      <td>Si</td>
                    {{else}}
                      <td>No</td>
                    {{/if}}
                    <td>{{this.resultadoTest}} Sintomas</td>
                    
                    
                  </tr>
                  
              {{/each}}
              </tbody>
               
                  </table>
            </table>
        </div>
    </div>
      
</main>