<main class="main-profile">
    <div class="img-header">
    </div>
    <div class="contenedor-profile">
        <div class="texto-profile">
            <p class="saludo">Hola {{user.nombre}} {{user.apellido}}!</p>
            <div class="datos">
                <div class="datos-izq">
                    <p><i class="fas fa-users"></i> Sexo</p>
                    <p class="rpta">{{user.sexo}}</p>
                    <p><i class="fas fa-clock"></i> Edad</p>
                    <p class="rpta">{{user.edad}}</p>
                    <p><i class="fas fa-phone-square-alt"></i>Telefono</p>
                    <p class="rpta">{{user.telefono}}</p>
                    <p><i class="fas fa-id-card"></i> DNI</p>
                    <p class="rpta">{{user.dni}}</p>
                    <p><i class="fas fa-envelope"></i> Correo electronico</p>
                    <p class="rpta">{{user.email}}</p>
                </div>
                <div class="datos-dere">
                    <p><i class="fas fa-map-marker-alt"></i> Departamento</p>
                    <p class="rpta">{{user.departamento}}</p>
                    <p><i class="fas fa-map-marker-alt"></i> Provincia</p>
                    <p class="rpta">{{user.provincia}}</p>
                    <p><i class="fas fa-map-marker-alt"></i> Distrito</p>
                    <p class="rpta">{{user.distrito}}</p>
                    <p><i class="fas fa-heartbeat"></i> Estado de salud</p>
                    <p class="rpta">{{user.estado}}</p>
                    <p><i class="fas fa-home"></i> Domicilio</p>
                    <p class="rpta">{{user.domicilio}}</p>
                </div>
            </div>
        </div>
        <img src="img/libro.jpg" alt="Usuario" class="imgUsuario">
    </div>
    
    <div class="contenedor-contenido">
        <div class="btn-test">
            <a href="/form">Realizar Test</a>
        </div>
        <p class="slogan">Aqui podra visualizar los resutlados del test...  </p>
        <div class="contenedor-tabla">
            
            <table>
                <table>
                    <tr>
                      <th>Company</th>
                      <th>Contact</th>
                      <th>Country</th>
                    </tr>
                    <tr>
                      <td>Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                    </tr>
                    <tr>
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                      <td>Mexico</td>
                    </tr>
                    <tr>
                      <td>Ernst Handel</td>
                      <td>Roland Mendel</td>
                      <td>Austria</td>
                    </tr>
                    <tr>
                      <td>Island Trading</td>
                      <td>Helen Bennett</td>
                      <td>UK</td>
                    </tr>
                    <tr>
                      <td>Laughing Bacchus Winecellars</td>
                      <td>Yoshi Tannamuri</td>
                      <td>Canada</td>
                    </tr>
               
                  </table>
            </table>
        </div>
    </div>
      
</main>